body {
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #000;
    text-align: left;
    margin: 3px 0px;
}


.nav-item {
    width: 100%
}
.Selectable {
    width: 100%;
    height: 10em;
}

div.HPane {
    overflow: hidden;
    width: 100%;
    height: 50%;
    border: 1px solid #666;
}
div.VPane {
    overflow: hidden;
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid #666;
}
.Selectable > .topPane {
    background-color: #7a7a7a;
}
.Selectable > .bottomPane {
    background-color: #ffffff;
}


.Selectable > .leftPane {
    background-color: #7a7a7a;
}
.Selectable > .rightPane {
    background-color: #ffffff;
}

aside {
    height: 99vh;
}

.container {
    overflow: hidden;
    height: 95vh;
    border: 4px solid  #5c626b;
    margin: 1em;
}
.msg {
    display: inline;
}


.ui-resizable-s {
    bottom: 0px;
    height: 15px;
}
.ui-resizable-3 {
    right: 0px;
    width: 3em;
}